/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

*, table, th, .tribe-events-notices, input,label, .tribe-bar-views-select .tribe-no-param, .menu, .menuopen li {
font-family: "alegreya",serif;
font-weight: 300;
}

h1, h2, h3, .sf-menu, #search-outer  #search input[type=text] {
font-family: "korolev-condensed";
}

h1{
text-transform:uppercase;
}

h4,h5,h6{
font-family: "alegreya",serif;
font-weight: 300;
text-transform: uppercase;
}

p{
font-family: "alegreya",serif;
font-weight: 300;
font-size:18px;
line-height:2;
letter-spacing: 0.02rem;
}
